@media screen and (max-width: 768px) {
    .top-line {
       display: none;
    }

    .bottom-line {
        display: none;
    }

    .half-circle {
       display: none;
    }

    .lines-container{
        display: none;
    }
}

