@import '../fonts/roboto-webfont/style.css';
@import '../fonts/impact-webfont/style.css';
@import '../fonts/roboto-webfont/style.css';
@import '../fonts/impact-webfont/style.css';
@import '../fonts/roboto-webfont/style.css';
@import '../fonts/impact-webfont/style.css';
@import '../fonts/roboto-webfont/style.css';
@import '../fonts/impact-webfont/style.css';
@import '../fonts/roboto-webfont/style.css';
@import '../fonts/impact-webfont/style.css';
@import '../fonts/roboto-webfont/style.css';
@import '../fonts/impact-webfont/style.css';
@import '../fonts/roboto-webfont/style.css';
@import '../fonts/impact-webfont/style.css';
@import '../fonts/roboto-webfont/style.css';
@import '../fonts/impact-webfont/style.css';
@import '../fonts/roboto-webfont/style.css';
@import '../fonts/impact-webfont/style.css';
@import '../fonts/roboto-webfont/style.css';
@import '../fonts/impact-webfont/style.css';
@import '../fonts/roboto-webfont/style.css';
@import '../fonts/impact-webfont/style.css';
@import '../fonts/roboto-webfont/style.css';
@import '../fonts/impact-webfont/style.css';
@import '../fonts/roboto-webfont/style.css';
@import '../fonts/impact-webfont/style.css';
@import '../fonts/roboto-webfont/style.css';
@import '../fonts/impact-webfont/style.css';
@import '../fonts/roboto-webfont/style.css';
@import '../fonts/impact-webfont/style.css';
@import '../fonts/roboto-webfont/style.css';
@import '../fonts/impact-webfont/style.css';
@import '../fonts/roboto-webfont/style.css';
@import '../fonts/impact-webfont/style.css';
@import '../fonts/roboto-webfont/style.css';
@import '../fonts/impact-webfont/style.css';
@import '../fonts/roboto-webfont/style.css';
@import '../fonts/impact-webfont/style.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body{
    font-family: "Roboto", sans-serif;
}


.header_section {
    position: relative;
    background: url('../img/header_picture.png') lightgray 50% / cover no-repeat;
    width: 100%;
    height: 980px;
}

.header_section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.header_content {
    position: relative;
    display: flex;
    align-items: center;
    padding: 50px 0 36px 65px;
    z-index: 2;
}


.school_name {
    display: inline-block;
    vertical-align: middle;
}

.school_icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
}

.header_text_middle {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    color: #FFFFFF;
    padding: 205px 0 0 240px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}

.school_info {
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-variant: all-small-caps;
}


.school_info p {
    margin: 0;
    border-radius: 10px;
}

.student_amount{
    padding: 0 0 0 74px;
}

.success_future {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 30px;
    padding: 0 0 0 0;
}


.success_future_title{
    font-family: Impact;
    font-size: 76px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 749px;
}

.success_future_text{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.188%;
    width: 400px;
    padding: 25px 0 0 0;
}

.read_next_button {
    border-radius: 35px;
    border: 1px solid #883CDA;
    background: #883CDA;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
}

.read_next_button img {
    margin-left: 10px;
    height: 15px;
    width: auto;
}

.header_right{
    display: inline-flex;
    align-items: center;
    gap: 48px;
    position: absolute;
    width: 100%;
    z-index: 2;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    top: 23px;
    padding: 23px 92px 79px 1080px;
}


.main_menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 43px;
    position: relative;
    z-index: 3;
    height: 40px;
    left: 25%;
    top: -30px;
    width: 860px;
}

.main_menu li {
    position: relative;
    z-index: 3;
    transition: background-color 0.3s ease;
}

.main_menu a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    z-index: 3;
    padding: 10px 18px;
    line-height: 1;
}

.main_menu a:hover, .main_menu li:hover {
    background-color: #883CDA; /* Purple background on hover */
    border-radius: 15px; /* Rounded corners for the highlight */
    color: #fff; /* Ensure text remains white */
    text-decoration: none;
}


.city_schools, .other_city_schools {
    position: relative;
    font-size: 16px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 0 15px 0 20px;
}


.dropdown:hover .dropdown_content {
    display: block;
    width: 250px;
    background: #883CDA;
    border-radius: 20px;
    text-align: left;
    padding: 15px;
    z-index: 3;
}

.dropdown:hover > a {
    background-color: #883CDA;
    color: #fff;
    border-radius: 15px;
    padding: 10px 20px;
    text-decoration: none;
}

.dropdown_content li {
    margin-bottom: 10px;
}

.dropdown_content li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    line-height: 1.5;
}

.dropdown_content li a:hover {
    text-decoration: underline;
}


.dropdown_content {
    display: none;
    position: absolute;
    background-color: #883CDA;
    z-index: 3;
    list-style: none;
    left: 0;
    border-radius: 15px;
    padding: 15px;
}

.sign_up_button {
    position: absolute;
    right: 100px;
    top: 46%;
    transform: translateY(-92%);
    border-radius: 35px;
    border: 1px solid #883CDA;
    background:#883CDA;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
}


.sign_up_button img {
    margin-left: 10px;
    height: 15px;
    width: auto;
}

.lines-container {
    position: relative;
    text-align: center;
    z-index: 2;
}

.top-line {
    position: absolute;
    top: -40px;
    left: 35%;
    transform: translateX(-15%);
    z-index: 2;
}


.metrics_section {
    padding: 50px 0;
    width: 100%;
}

.metrics_content {
    justify-content: normal;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 0 0 240px;
    gap: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
}

.metrics_info {
    max-width: 350px;
}

.metrics_info h2 {
    font-family: Impact, sans-serif;
    font-size: 36px;
    color: #333;
}

.metrics_info p {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #666;
    margin-bottom: 35px;
    margin-top: 24px;
}

.metrics_image_wrapper {
    position: relative;
    max-width: 450px;
}

.metrics_shape{
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;
}

.metrics_image_wrapper img {
    max-width: 450px;
    border-radius: 20px;
    position: relative;
}

.metrics_stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-left: 120px;
}

.stat_item {
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;
    height: 196px;
    width: 150px;
}

.stat_item:nth-child(1) {
    background-color: #FB7C84;
    color: white;
    margin: 40px 26px 32px 0;
}

.stat_item:nth-child(2) {
    background-color: #FFB865;
    color: white;
    height: 196px;
    margin: 40px 26px 32px 0;
}

.stat_item:nth-child(3) {
    background-color: #D4EE47;
    color: white;
    height: 196px;
    margin: 40px 26px 32px 0;
}

.stat_item:nth-child(4) {
    background-color: #6ED6A4;
    color: white;
    height: 196px;
    margin: 0 26px 32px 0;
}

.stat_item:nth-child(5) {
    background-color: #883CDA;
    color: white;
    height: 196px;
    margin: 0 26px 32px 0;
}

.stat_item:nth-child(6) {
    background-color: #5AC4FF;
    color: white;
    height: 196px;
    margin: 0 26px 32px 0;
}

.stat_item span {
    display: block;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.stat_item p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin: 0;
}


.helping_section {
    max-width: 1200px;
    margin: 140px 0 140px 9%;
    width: 100%;
}

.helping_info {
    text-align: center;
    margin-bottom: 30px;
}

.helping_info h2 {
    font-size: 48px;
    font-family: Impact;
    color: #000;
    text-align: left;
    margin-bottom: 10px;
    width: 541px;
}

.helping_info p {
    font-size: 16px;
    line-height: 1.4;
    font-family: "Roboto", sans-serif;
    color: #000;
    text-align: left;
    margin-bottom: 30px;
    width: 368px;
}

.helping_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 300px;
    gap: 20px;
    height: 100%;
}

.card {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: left;
    height: 371px;
    margin: 0;

}

.card h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #141516;
}

.card p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #141516;
    margin-bottom: 20px;
    height: 86px;
}

.read_more_btn {
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid #883cda;
    color: #883cda;
    font-size: 16px;
    cursor: pointer;
    border-radius: 35px;
    box-sizing: border-box;
    width: 220px;
    flex-direction: row;
    padding: 16px 24px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    margin: 91px 0 0 0;
}

.read_more_btn img {
    margin-left: 5px;
}

.helping_image-right {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    border-radius: 10px;
    overflow: hidden;
    height: 766px;
}

.helping_image-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.helping_image-left {
    grid-column: 1 / 3;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 370px;
}

.helping_image-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.helping_image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}


.parent {
    width: 168px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.frame-parent {
    position: relative;
    border-radius: 35px;
    border: 1px solid #883cda;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    text-align: left;
    font-size: 16px;
    color: #883cda;
    font-family: "Roboto", sans-serif;
}

.main-image {
    position: absolute;
    top: 0px;
    left: 713px;
    border-radius: 35px 0px 0px 35px;
    height: 716px;
    object-fit: cover;
    max-width: 100%;
    overflow: hidden;
    width: min(53%, 967px);
}
.overlay-image {
    position: absolute;
    top: 261px;
    left: 624px;
    width: 168px;
    height: 288px;
}
.main-heading {
    margin: 0;
}
.sub-heading {
    margin: 0;
    white-space: pre-wrap;
}
.heading-container {
    width: 420px;
    position: relative;
    display: inline-block;
    height: 236px;
    flex-shrink: 0;
}
.quote-container {
    width: 420px;
    position: relative;
    font-size: 16px;
    line-height: 133.19%;
    font-family: "Roboto", sans-serif;
    display: inline-block;
    height: 174px;
    flex-shrink: 0;
}
.text-wrapper {
    position: absolute;
    top: 91px;
    left: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    font-family: Impact;
}
.author-name {
    position: absolute;
    top: 581px;
    left: 0px;
    font-size: 24px;
    font-weight: 500;
}
.author-description {
    position: absolute;
    top: 621px;
    left: 0px;
    font-size: 16px;
    line-height: 133.19%;
}
.help-family {
    width: 88.4%;
    position: relative;
    height: 716px;
    text-align: left;
    font-size: 48px;
    color: #141516;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.main_content{
    /*margin: 0 0 0 240px;*/
    margin: 0 auto;
}

.study_cost{
    margin: 140px 12.5% 0 12.5%;
}

.study_cost h2{
    width: 387px;
    position: relative;
    font-size: 48px;
    font-family: Impact;
    color: #141516;
    text-align: left;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.card-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    margin-left: 123px;
    margin-right: 123px;
    margin-bottom: 140px;
    margin-top: 108px;
    gap: 90px;
}

.card-cost {
    text-align: center;
    width: 338px;
    position: relative;
    box-shadow: 8px -10px 23px #f1f1f1, -8px 10px 23px #f1f1f1;
    border-radius: 25px;
    background-color: #fff;
    height: 413px;
    margin: 0 30px;
}

.icon {
    margin: 0 auto 15px;
    padding: 15px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 30px;
    height: 30px;
}

.purple {
    background-color: #6a1b9a;
}

.blue {
    background-color: #03a9f4;
}

.red {
    background-color: #e57373;
}

.card-cost h3 {
    width: 260px;
    position: relative;
    font-size: 34px;
    font-family: Impact;
    color: #141516;
    text-align: center;
    display: inline-block;
}

.card-cost-price{
    position: relative;
    font-size: 18px;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    color: #141516;
    text-align: center;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 6px;
    width: 260px;
}

.card-cost p {
    margin-bottom: 5px;
    width: 260px;
    position: relative;
    font-size: 18px;
    line-height: 144.69%;
    font-family: "Roboto", sans-serif;
    color: #141516;
    text-align: center;
    display: inline-block;
}

p strong {
    font-weight: bold;
}

.card:nth-child(2) p:first-of-type {
    margin-bottom: 20px;
}

.card:nth-child(3) p:first-of-type {
    margin-bottom: 10px;
}



.layout-container {
    display: flex;
    width: 100%;
    height: 888px;
    margin: 0;
    position: relative;
    background-color: #f8f8f8;
}

.image-container-form {
    position: relative;
    width: 663px;
    display: flex;
    align-items: center;
    height: 888px;
    background: #883cda;
    margin: 0 0 0 -240px;
}

.image-container-form .dots{
    width: 100%;
    position: relative;
    max-width: 100%;
    height: 204px;
    z-index: 5;
    margin-bottom: 452px;
    margin-left: -140px;
}

.circular-image {
    width: 857px;
    height: 724px;
    max-height: 90%;
    object-fit: cover;
    z-index: 6;
}

.right-section {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 470px;
}

.form-heading {
    font-size: 34px;
    margin: 0;
    color: #141516;
    font-family: Impact;
    width: 420px;
}

.form-subheading {
    font-size: 18px;
    line-height: 1.4;
    font-family: "Roboto", sans-serif;
    margin: 16px 0;
}

.consultation-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 18px;
}

.form-field input {
    padding: 10px 16px;
    border-radius: 35px;
    border: 1px solid #ddd;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.form-field input::placeholder {
    color: #a5a5a9;
}

.submit-button {
    padding: 16px;
    background-color: #883cda;
    color: white;
    border: none;
    border-radius: 35px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 56px;
}

.submit-button:hover {
    background-color: #772bb1;
}


.section-title {
    width: 590px;
    position: relative;
    font-size: 48px;
    font-family: Impact;
    color: #141516;
    text-align: left;
    display: inline-block;
    padding-bottom: 56px;
    padding-top: 140px  ;

}

.section-info{
    margin: 140px 12.5% 0 12.5%;
}

.section-info .container{
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 142px;
}

.section-info .block{
    display: flex;
    width: 100%;
    gap: 109px;
    box-shadow: 8px -10px 23px #F1F1F1, -8px 10px 23px #F1F1F1;
    border-radius: 35px;
    margin-bottom: 26px;
}

.section-info .block .content{
    padding: 30px 0 30px 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 102px;
}

.section-info .block .content span{
    font-family: Roboto Medium;
    font-size: 28px;
    line-height: normal;
    width: 100%;
}

.section-info .block .content p{
    margin: 0;
    width: 60%;
}

footer {
    color: white;
    padding: 40px 20px;
    width: 100%;
    position: relative;
    background-color: #141516;
    height: 802px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.social-icons{
    padding: 42px 0 104px 0;
}

.social-icons a {
    margin-right: 10px;
    gap: 8px;
}

social-icons :after{
    background: #883CDA;
}

.contact-info p {
    margin: 5px 0;
}

.footer-contacts {
    display: flex;
    gap: 40px;
    padding: 103px 0 0 0;
}

.footer-contacts div {
    display: flex;
    flex-direction: column;
}

.footer-contacts h4 {
    font-size: 18px;
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right ul li {
    margin-bottom: 10px;
}

.footer-right ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.footer-right h4 {
    margin-bottom: 30px;
    font-size: 18px;
}

.footer-right form {
    display: flex;
}

.footer-right input {
    padding: 10px;
    border: none;
    border-radius: 35px;
    width: 380px;
}

.footer-right button {
    padding: 10px 20px;
    border: none;
    background-color: #7a00ff;
    color: white;
    border-radius: 35px;
    cursor: pointer;
    margin: 0 0 0 -90px;
}

.footer-right button:hover {
    background-color: #4a00c3;
}

.footer-links a {
    display: block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #555;
    font-size: 16px;
}

.footer-bottom a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.footer-bottom p {
    font-size: 12px;
}

.phone-numbers{
    padding: 40px 0 59px 0;
}

.phone-numbers p{
    margin: 0 0 19px 0;
}

.address h4{
    margin: 0 0 31px 0;
}

.rectangle-div {
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    height: 1px;
    margin: 128px 0 0 0;
}

.offer{
    text-align: right;
}